.logo {
  display: flex;
  align-items: center;
  color: white;
  line-height: 14px;
  font-size: small;
  gap: 0.5rem;
  cursor: pointer;
}
.logotype:hover {
  border-radius: 50%;
  border: 1.5px solid #032092;
  box-sizing: border-box;
}
.naming {
  text-align: center;
  width: 45px;
}
.logotype {
  cursor: pointer;
  height: 33px;
}
