.wrapper {
  background-color: #cceff6;
  border: solid 2px;
  border-radius: 3px;
  padding: 4px 8px;
}
.draggingOver {
  background-color: #fff;
  border: solid 2px;
  border-radius: 3px;
  padding: 4px 8px;
}