.welcome {
  background-image: url('./../../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  margin-top: 64px;
  height: calc(100vh - 128px);
}
@media (max-width: 600px) {
  .welcome {
    margin-top: 56px;
    height: calc(100vh - 112px);
  }
}
.projectInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 7vw;
  gap: 3vw;
}
@media (max-width: 600px) {
  .projectInfo{
    column-gap: 1rem;
  }
}
.welcomeText {
  display: flex;
  align-items: center;
  font-size: calc(1rem + 0.3vw);
  width: 35vw;
}
@media (max-width: 600px) {
  .welcomeText {
    font-size: calc(1rem);
    width: 65vw;
text-align: center;
  }
}
.welcomeImage {
  width: 45vw;
  /* height: 45vw; */
  /* min-width: 350px; */
}
@media (max-width: 600px) {
  .welcomeImage{
    width: 70vw;
    height: 65vw;
  }
}