.welcome {
  background-image: url('./../../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 64px;
  min-height: calc(100vh - 128px);
}
@media (max-width: 600px) {
  .welcome {
    margin-top: 56px;
    min-height: calc(100vh - 112px);
  }
}
.projectInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5vw;
  gap: 3vw;
}
@media (max-width: 600px) {
  .projectInfo {
    column-gap: 1rem;
  }
}
.welcomeText {
  display: flex;
  align-items: center;
  font-size: calc(.7rem + 0.6vw);
  font-weight: 600;
  color: #1F1F1F;
  width: 45%;
}
@media (max-width: 600px) {
  .welcomeText {
    font-size: calc(1rem);
    width: 75vw;
    text-align: center;
  }
}
.welcomeImage {
  width: 45%;
  /* min-width: 240px; */
  height: 38%;
}
@media (max-width: 600px) {
  .welcomeImage {
    width: 70vw;
    /* height: 65vw; */
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1.5rem;
}
.cardDev {
  width: 250px;
  /* background-color: #dcf0f4; */
  border: solid 0px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #747474;
  padding-bottom: .5rem;
}
.nameDev {
  margin: 5px 0;
  text-align: center;
}
